In [1]:
from tabulate import tabulate

In [2]:
x1=[0,0,1,1]
x2=[0,1,0,1]
w1=[1,1,1,1]
w2=[1,1,1,1]

t=2
print("x1    x2    w1    w2    t     O")
for i in range(len(x1)):
  if(x1[i]*w1[i] + x2[i]*w2[i])>=t:
    print(x1[i],'   ',x2[i],'   ',w1[i],'   ',w2[i],'   ',t,'   ','1')
  else:
    print(x1[i],'   ',x2[i],'   ',w1[i],'   ',w2[i],'   ',t,'   ','0')

x1    x2    w1    w2    t     O
0     0     1     1     2     0
0     1     1     1     2     0
1     0     1     1     2     0
1     1     1     1     2     1

In [3]:
x1=[0,0,1,1]
x2=[0,1,0,1]
w1=[1,1,1,1]
w2=[1,1,1,1]

t=1
print("x1    x2    w1    w2    t     O")
for i in range(len(x1)):
  if(x1[i]*w1[i] + x2[i]*w2[i])>=t:
    print(x1[i],'   ',x2[i],'   ',w1[i],'   ',w2[i],'   ',t,'   ','1')
  else:
    print(x1[i],'   ',x2[i],'   ',w1[i],'   ',w2[i],'   ',t,'   ','0')

x1    x2    w1    w2    t     O
0     0     1     1     1     0
0     1     1     1     1     1
1     0     1     1     1     1
1     1     1     1     1     1

In [4]:
x1=[0,0,0]
x2=[0,1,1]
w1=[1,0,1]
W2=[1,1,0]
print("x1    x2    O")
for i in range(len(x1)):
 if (x1[i]==x2[i]):
  print(x1[i],'  ',x2[i],'  ',0)
else:
  print(x1[i],'  ',x2[i],'  ',1)

x1    x2    O
0    0    0
0    1    1